@mixin center($intrinsic: false, $and_text: false) {
  margin-inline: auto;

  @if $intrinsic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @if $and_text {
    text-align: center;
  }
}

.center {
  @include center();
}

.center.intrinsic {
  @include center($intrinsic: true);
}

.center.and-text {
  @include center($and_text: true);
}
