@mixin stack($recursive: false, $split_after: n) {
  --space: var(--size-3);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-block: 0;
  }

  > * + * {
    margin-block-start: var(--space, 1.5rem);
  }

  @if $recursive {
    * {
      margin-block: 0;
    }

    * + * {
      margin-block-start: var(--space, 1.5rem);
    }
  }
}

.stack.split-after:only-child {
  height: 100%;
}

.stack.split-after > .splitter {
  margin-block-end: auto;
}
