.center {
  /* The maximum width of the centered element */
  --_max: var(--max, 60ch);

  /* The width of the gutters */
  --_gutters: var(--gutters, 0);

  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--_max);
  padding-inline: var(--_gutters);
}

/* Whether to apply text-align: center too */
.center.and-text {
  text-align: center;
}

/* Whether to center and child elements narrower than the max value */
.center.intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
