.app-nav {
  inset-block-start: 0;
  background: var(--app-bg);
  z-index: var(--layer-important);
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-3);
  padding: var(--size-2) var(--bleed);
  border-block-end: var(--border);
}

.app-nav-link[aria-current="page"] {
  font-weight: var(--bold);
}

.app-nav-link,
.app-nav-link:visited {
  font-size: var(--font-size-0);
  color: var(--text-primary);
  text-decoration: none;
}

.app-nav-link:first-child {
  margin-inline-end: auto;
}
