.card--app {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: var(--size-3);
  border-radius: var(--radius-3);
  background-color: var(--ui-element-bg);
}

.card--app__title {
  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-1);
  max-inline-size: var(--size-header-2);
}

.card--app__subtitle {
  color: var(--text-secondary);
}

.card--app__thumb {
  inline-size: var(--size-content-2);
}

.card--small {
  flex-direction: row-reverse;
  gap: var(--size-2);
  text-align: start;
  justify-content: flex-end;

  .card__texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card--app__title {
    font-size: var(--font-size-1);
  }

  .card--app__thumb {
    max-inline-size: var(--size-10);
  }
}
