.download-bar,
.buy-button {
  display: flex;
  gap: var(--size-2);
  align-items: center;
}

.download-bar {
  flex-wrap: wrap;
  justify-content: center;
}

.buy-button {
  white-space: nowrap;
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-2);
  border: var(--border);
  border-color: var(--apl-blue);
  background-color: var(--apl-blue);
  text-decoration: none;

  &,
  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--apl-blue-hover);
  }
}

.buy-button__price {
  font-size: var(--font-size-0);
  color: var(--apl-blue);
  background-color: white;
  padding-inline: var(--size-1);
  border-radius: var(--radius-3);
}
