.footer {
  text-align: center;
}

.footer__copyright,
.footer__source-code-link {
  display: block;
}

.footer__links {
  display: flex;
  gap: var(--size-1);
  justify-content: center;
  list-style: none;
}
