.header {
  padding-inline: var(--bleed);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-3);
}

.header__leading {
  display: flex;
  gap: var(--size-2);
  margin-inline-end: auto;
}

.header__avatar {
  align-self: center;
  inline-size: var(--size-7);
  block-size: auto;
  object-fit: contain;
  background: var(--gradient-22);
  border-radius: var(--radius-round);
}

.header__name,
.header__name:visited {
  text-decoration: none;
  color: var(--text-1);
  font-weight: var(--bold);
}

.header__name,
.header_subtitle {
  display: block;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
}

.nav__link,
.nav__link:visited {
  color: var(--text-2);
  text-decoration: none;
}
