@mixin prose {
  ul,
  ol {
    padding-inline-start: var(--size-5);
    list-style-position: outside;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  h3 {
    font-size: var(--font-size-3);
  }

  h2 {
    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-1);
  }

  h1 {
    font-size: var(--font-size-7);
    line-height: var(--font-lineheight-1);
  }

  * + * {
    margin-block-start: var(--size-3);
  }

  li + li {
    margin-block-start: 0;
  }

  @for $i from 1 through 6 {
    * + h#{$i} {
      margin-block-start: var(--size-4);
    }

    h#{$i} + p {
      margin-block-start: var(--size-1);
    }
  }
}

@mixin prose-layout {
  display: grid;
  grid-template-columns: 1fr min(60ch, 100%) 1fr;

  > * {
    grid-column: 2;
  }

  > :where(img, figure, iframe, .full) {
    inline-size: 100%;
    grid-column: 1/-1;
  }
}
