.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-1);
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-round);
  text-wrap: nowrap;
  background: var(--ui-bg);
  border: var(--border);
}

.button,
.button:visited,
.button:hover,
.button:active {
  text-decoration: none;
  color: var(--text-secondary);
}

.button-s {
  font-size: var(--font-size-0);
  padding: var(--size-1) var(--size-2);
}

.button:hover {
  background: var(--ui-bg-hover);
  border-color: var(--border-color-hover);
}

.button:active {
  background: var(--ui-bg-active);
}

.button svg {
  pointer-events: none;
  block-size: var(--font-size-1);
}

.button--rounded {
  display: grid;
  place-content: center;
  border-radius: var(--radius-round);
  inline-size: var(--font-size-4);
  padding: 0;
  aspect-ratio: 1;
}