.sidebar {
	/* The width of the sidebar, defaults `auto` */
	--_side-width: var(--side-width, auto);

	/* The narrowest the content (main) element can be before wrapping. Should be a percentage. Defaults to `50%` */
	--_content-min-width: var(--content-min-width, 50%);

	/* The space (margin) between the sidebar and non-sidebar  */
	--_space: var(--space, 1.5rem);

	display: flex;
	flex-wrap: wrap;
	gap: var(--_space);
}

.sidebar:not(.trailing) > :first-child {
	flex-basis: var(--_side-width);
	flex-grow: 1;
}

.sidebar:not(.trailing) > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: var(--_content-min-width);
}

/* Whether the sidebar element is the :last-child */
.sidebar.trailing > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: var(--_content-min-width);
}

.sidebar.trailing > :last-child {
	flex-basis: var(--_side-width);
	flex-grow: 1;
}
