.frame {
	/* The right-hand side of the ratio (e.g. the 9 in 16:9) */
	--_numerator: var(--numerator, 9);

	/* The left-hand side of the ratio (e.g. the 16 in 16:9) */
	--_denominator: var(--denominator, 16);

	padding-bottom: calc(var(--_numerator) / var(--_denominator) * 100%);
	position: relative;
}

.frame > * {
	overflow: hidden;
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame > img,
.frame > video {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}
