---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import AppLayout from "@layouts/AppLayout.astro";
import "@styles/pages/help.scss";

export async function getStaticPaths() {
  const collection = await getCollection("help");
  return collection.map((entry) => ({
    params: { app: entry.slug },
    props: { entry },
  }));
}

const entry: CollectionEntry<"help"> = Astro.props.entry;
const { Content } = await entry.render();

const {
  data: {
    app: { slug },
  },
} = entry;

const pageSuffix = "Help";
---

<AppLayout {pageSuffix} {slug}>
  <div class="content-help">
    <h1>{pageSuffix}</h1>
    <Content />
  </div>
</AppLayout>
