---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import AppPage from "../../../layouts/AppPage.astro";
import { getEntry } from "astro:content";
import "../../../styles/pages/help.scss";

export async function getStaticPaths() {
  const collection = await getCollection("help");
  return collection.map((entry) => ({
    params: { app: entry.slug },
    props: { entry },
  }));
}

const entry: CollectionEntry<"help"> = Astro.props.entry;
const { Content } = await entry.render();

const {
  data: {
    app: { slug },
  },
} = entry;

const {
  data: { title },
} = await getEntry("apps", slug);
const pageTitleSuffix = "Help";
---

<AppPage title={`${title} Help`} appName={title} {slug}>
  <div class="content-help">
    <h1>{pageTitleSuffix}</h1>
    <Content />
  </div>
</AppPage>
