.project-card {
  display: flex;
  flex-direction: column-reverse;

  border: var(--border);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);

  overflow: hidden;
}

.project-card__texts {
  border-block-start: var(--border);
  padding: var(--bleed);
  flex-grow: 1;
}

.project-card__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--bleed);
}

.project-card__date {
  white-space: nowrap;
}

.project-card__subtitle {
  max-inline-size: var(--size-content-2);
  color: var(--text-secondary);
}

.project-card__meta {
  font-size: var(--font-size-0);
  --grid-item-min: 15ch;
}

ul {
  list-style: none;
}

.green {
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-10: #2b9a66;
}

:root {
  .grass {
    --grass-1: #fbfefb;
    --grass-2: #f5fbf5;
    --grass-3: #e9f6e9;
    --grass-4: #daf1db;
    --grass-5: #c9e8ca;
    --grass-6: #b2ddb5;
    --grass-7: #94ce9a;
    --grass-8: #65ba74;
    --grass-9: #46a758;
    --grass-10: #3e9b4f;
    --grass-12: #203c25;
  }
}

.project-card--icon .project-card__image {
  --stripe: #fbfefc;
  --board: #2a7e3b;

  object-fit: contain;

  background-color: var(--board);
  opacity: 0.8;
  background-image: linear-gradient(var(--stripe) 1px, transparent 1px),
    linear-gradient(to right, var(--stripe) 1px, var(--board) 1px);
  background-size: 20px 20px;
}

.project-card__image {
  border-radius: inherit;
  background: var(--ui-bg);
  object-fit: cover;
  border-radius: inherit inherit var(--radius-1) var(--radius-1);
  aspect-ratio: var(--ratio-widescreen);
}

.project-card__badge {
  color: var(--text-secondary);
  font-size: var(--font-size-0);
}

.project-card__press li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-card__link {
  color: var(--text-secondary);
}

.project-card__featured-in {
  display: flex;
  gap: var(--size-1);
  flex-wrap: wrap;
}

.project-card__featured-in-item {
  padding-inline: var(--size-1);
  /* border: var(--border); */
  border-radius: var(--radius-2);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-secondary);
  gap: var(--size-1);
  background: var(--ui-bg);
}

.project-card__featured-in-thumb {
  min-inline-size: var(--size-3);
  max-inline-size: var(--size-3);
}
