.grid--apps {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, var(--size-content-3)));
  justify-content: center;
  gap: var(--bleed);

  .card--small {
    grid-column: 1/-1;
    inline-size: min(100%, var(--size-content-2));
    margin-inline: auto;
  }
}
