.prose {
  /* spacing */

  > * + * {
    margin-block-start: var(--bleed);
  }

  > * + :where(h1, h2, h3, h4, h5, h6) {
    margin-block-start: calc(2 * var(--bleed));
  }

  :where(h1, h2, h3, h4, h5, h6) + * {
    margin-block-start: var(--size-2);
  }

  :where(table, pre) {
    margin-block-start: var(--bleed);
  }

  /* lists */

  ul,
  ol {
    padding-inline-start: var(--size-5);
    list-style-position: outside;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  /* headings */

  h1 {
    font-size: var(--font-size-4);
  }

  h2 {
    font-size: var(--font-size-5);
  }

  h3 {
    font-size: var(--font-size-3);
  }

  /* tables */

  table {
    border-collapse: collapse;
  }

  th {
    background-color: var(--ui-bg);
  }

  th,
  td {
    border: var(--border);
    padding: var(--size-2);
    vertical-align: baseline;
  }
}

.prose.layout {
  display: grid;
  grid-template-columns: 1fr minmax(0, min(var(--size-content-3), 100%)) 1fr;

  > * {
    grid-column: 2;
  }

  > :where(img, figure, iframe, .full, .wp-video, .paragraph-img-wrapper) {
    inline-size: 100%;
    grid-column: 1/-1;
  }

  .paragraph-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph-img-wrapper img {
    inline-size: 100%;
    object-fit: contain;
    max-block-size: 50vh;
  }

  .wp-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wp-video video {
    max-block-size: 50vh;
  }
}
