.cluster {
	/* The space (margin) between each of the clustered elements */
	--_space: var(--space, var(--size-1));

	/* The justify-content value (for horizontal alignment) */
	--_justify: var(--justify, flex-start);

	/* The align-items value (for vertical alignment) */
	--_align: var(--align, center);

	display: flex;
	flex-wrap: wrap;
	gap: var(--_space);
	justify-content: var(--_justify);
	align-items: var(--_align);
}
