.page-id-79 {
  position: relative;

  .projects-list {
    list-style: none;
    --grid-item-min: var(--size-content-2);
    gap: var(--bleed);
  }

  .project-list__item {
    display: contents;
  }

  .page-projects__nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    font-size: var(--font-size-0);
    align-items: center;

    overflow: hidden;

    gap: var(--bleed);
    padding: var(--size-1);

    /* place-items: center; */
    align-items: center;
    justify-items: stretch;
    justify-content: center;
    position: sticky;

    align-self: center;

    inset-block-start: var(--size-1);

    border-radius: var(--radius-round);

    background: var(--ui-bg-alpha);
    border: var(--border-subtle-alpha);

    box-shadow: var(--inner-shadow-2);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    text-decoration: none;
    z-index: 1;

    transition: box-shadow 0.3s;

    &[data-js-is-floating='true'] {
      box-shadow: var(--shadow-4);
    }
  }

  .page-projects__section + .page-projects__section {
    border-block-start: var(--border);
    --gap: var(--size-6);
    padding-block-start: var(--gap);
    margin-block-start: var(--gap);
  }

  .page-projects__nav-item {
    border-radius: inherit;

    text-wrap: nowrap;
    text-overflow: ellipsis;
    /* max-inline-size: 100%; */

    text-align: center;
    padding: var(--size-1) var(--bleed);
    color: var(--text-secondary);
    text-decoration: none;
    transition: background 0.3s;

    &[data-js-intersecting='true'] {
      background: var(--ui-bg-active-alpha);
      box-shadow: var(--shadow-2);
    }

    &:active {
      background: var(--ui-bg-active-alpha);
    }

    &:hover {
      background: var(--ui-bg-hover-alpha);
    }
  }
}
