@use "../layout/center";
@use "../layout/stack";
@use "../layout/reel";
@use "../components/prose";
@use "../components/app-nav";
@use "../components/download-bar.scss";

$gap: var(--size-8);

.product-hunt-wrapper {
  display: flex;
  justify-content: center;
}

.app__above-fold {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__above-fold-images {
  display: grid;
}

.app__above-fold-images > * {
  grid-area: 1/1;
}

.app__icon-wrapper {
  justify-self: center;
  align-self: flex-end;
  z-index: 1;
}

.app__icon {
  margin-block-start: calc(-1 * var(--size-6));
  max-inline-size: var(--size-12);
}

.app__tagline {
  text-align: center;
  font-size: var(--font-size-6);
  max-inline-size: var(--size-header-1);
  line-height: var(--font-lineheight-1);
  text-wrap: balance;
}

.app-cask {
  --space: var(--size-1);
  font-size: var(--font-size-0);

  > * + * {
    margin-block-start: var(--size-1);
  }
}

.app-cask__code {
  display: block;
  background-color: var(--ui-element-bg);
  color: var(--text-2);
  padding: var(--size-2);
  border-radius: var(--radius-1);
}

.app__technicals {
  --space: var(--size-2);
  @include center.center($intrinsic: true, $and-text: true);
  @include stack.stack;
}

.app__purchase-policy,
.app__sys-reqs {
  display: block;
  font-size: var(--font-size-0);
  color: var(--text-secondary);
}

.app__cover {
  inline-size: 100%;
  -webkit-mask: linear-gradient(to top, transparent 10%, black 25%);
  mask: linear-gradient(to top, transparent 10%, black 25%);

  margin-inline: auto;
  inline-size: min(100%, var(--size-15));
  object-fit: cover;
  object-position: top;
}

.app__prose {
  @include prose.prose;
  @include prose.layout;

  .intro p:first-child {
    font-size: var(--font-size-3);
  }

  .intro {
    margin-block-end: $gap;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-4);
    font-size: var(--font-size-0);
    text-align: center;
    margin-inline: auto;
  }
}

.remark-container.feat {
  margin-block: var(--size-6);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.remark-container.misc {
  ul {
    margin-block: $gap;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    align-items: center;
    font-size: var(--font-size-2);
    text-align: center;
  }
}

.carousel {
  @include reel.reel;
}
