@use "../layout/center";
@use "../layout/stack";
@use "../layout/reel";
@use "../layout/grid";
@use "../components/prose";

.app__above-fold {
  figure {
    max-block-size: 100%;
  }

  img {
    max-block-size: 75vh;
    object-fit: contain;
  }
}

.app__icon {
  inline-size: clamp(var(--size-11), 25vw, var(--size-content-1));
}

.app__tagline {
  text-align: center;
  max-inline-size: var(--size-header-1);
  text-wrap: pretty;
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-3);
}

.app__technicals {
  display: flex;
  flex-direction: column;
  gap: var(--bleed);
  align-items: center;
  text-align: center;
}

.app__purchase-policy,
.app__sys-reqs {
  display: block;
  font-size: var(--font-size-0);
  color: var(--text-secondary);
}

.app-reviews {
  @include reel.reel;
  --reel-item-size: var(--size-content-2);
}

.app-review {
  padding: var(--bleed);
  display: flex;
  flex-direction: column;
  background: var(--ui-element-bg);
  border-radius: var(--card-radius);
  position: relative;
}

.review__text::before,
.review__text::after {
  content: "“";
  font-family: serif;
}

.review__text::after {
  content: "”";
}

.review__rating {
  color: var(--rating);
  font-size: var(--font-size-3);
}

.review__cite {
  margin-block-start: auto;
  font-size: var(--font-size-0);
  font-style: italic;
}

.app-content {
  @include prose.prose;
  @include prose.layout;

  max-inline-size: var(--size-content-3);

  img {
    border-radius: 4px;
  }
  section {
    margin-block-start: var(--bleed);
    margin-block-start: var(--size-8);
  }

  p + * {
    margin-block-start: var(--bleed);
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--bleed);
  }

  > p:first-child {
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-3);
  }

  h2 {
    display: none;
  }

  h3 {
    font-size: var(--font-size-fluid-1);
    font-weight: var(--bold);
  }
}

.feature__recents {
  margin-block-start: var(--bleed);
  display: grid;
  overflow: hidden;

  > * {
    grid-area: 1/1;
  }

  > :nth-child(2) {
    translate: 50%;
  }
}

#even-more {
  display: block;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--bold);
  text-align: center;
  margin-inline: auto;
}
#even-more ~ section {
  margin-block-start: var(--bleed);
  background: var(--ui-element-bg);
  padding: var(--bleed);
  border-radius: var(--card-radius);

  h3 {
    font-size: var(--font-size-1);
  }
}

.footnotes {
  border-block-start: var(--border);
  padding-block-end: var(--bleed);
  font-size: var(--font-size-0);
  color: var(--text-secondary);
}
