@use "../layout/grid";

.apps-page {
  padding: var(--bleed);

  > * + * {
    margin-block-start: var(--size-2);
  }

  .cards {
    list-style: none;
    --minimum: var(--size-content-3);
    @include grid.grid;
  }

  .apps-page__header {
    margin-block-start: var(--size-4);
    font-size: var(--font-size-1);
  }
}
