@use "../components/prose";

.content-help {
  @include prose.prose;
  @include prose.prose-layout;

  h2:not(:first-of-type) {
    padding-block-start: var(--size-3);
    margin-block-start: var(--size-6);
    border-block-start: var(--border);
  }

  h3 {
    margin-block-end: var(--size-1);
  }

  #table-of-contents {
    // display: none;
    margin: 0 0 var(--size-2) 0;
    font-size: var(--font-size-1);
  }

  #table-of-contents + ul,
  #table-of-contents + ul ul {
    margin: 0;
  }

  #table-of-contents + ul a {
    text-decoration: none;
  }

  #table-of-contents + ul a:visited {
    color: var(--link);
  }
}
