.page-home {
  padding: var(--size-3);
}

.page-home {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  align-items: center;
}

.page-home__intro {
  max-inline-size: 60ch;
  text-align: center;
}
