.page-404 {
  display: grid;
  place-content: center;
  gap: var(--size-2);

  block-size: 100%;
  padding: var(--bleed);
  text-align: center;
}

.page-404__title {
  font-family: var(--font-monospace-code);
  text-transform: uppercase;
}

.page-404__image {
  margin-inline: auto;
  max-inline-size: var(--size-13);
  filter: grayscale(100%);
}
