@use "../components/prose";

.project-root {
  .project__cover {
    inline-size: 100%;
    block-size: 33vh;
    object-fit: cover;
  }

  .project__aside-and-content-wrapper {
    margin-block: var(--size-3);
    padding-inline: var(--bleed);
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
  }

  .project__aside {
    font-size: var(--font-size-0);
    color: var(--text-secondary);
  }

  .project__title {
    font-size: var(--font-size-5);
    margin-block-end: var(--size-2);
  }

  .project__content {
    @include prose.prose;
    @include prose.layout;
    flex-basis: 60ch;
    flex-grow: 999;
  }

  .project__badge {
    margin-block-start: var(--size-1);
    inline-size: max-content;
    background-color: var(--ui-element-bg);
    padding-inline: var(--size-2);
    border-radius: var(--radius-1);
  }

  .project__list {
    list-style: none;
  }

  .project__key {
    color: var(--text-primary);
    font-weight: var(--bold);
  }

  .project__key:not(:first-child) {
    margin-block-start: var(--size-2);
  }
}
