@use "../layout/grid";
@use "../layout/stack";
@use "../components/card";

.projects-root {
  padding: var(--bleed);

  .projects-list {
    @include grid.grid;
    list-style: none;
  }

  .project-card {
    @include card.card;
    @include stack.stack;
    border-radius: var(--radius-3);
    flex-direction: column-reverse;
    gap: var(--size-2);
  }

  .project-card__texts {
    display: flex;
    flex-direction: column;
  }

  .project-card__title {
    text-decoration: none;
    color: var(--text-primary);
  }

  .project-card__small {
    color: var(--text-secondary);
  }

  .project-card__image {
    pointer-events: none;
    aspect-ratio: var(--ratio-widescreen);
    object-fit: cover;
    opacity: 0.8;
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-2);
  }
}
