@use "../layout/grid";
@use "../layout/stack";
@use "../components/card";

.projects-root {
  padding: var(--bleed);

  .projects-list {
    list-style: none;
    --minimum: var(--size-content-2);
    @include grid.grid;
    gap: var(--size-6);
  }

  .project-card {
    @include card.card;
    display: flex;
    flex-direction: column-reverse;
    gap: var(--size-2);
  }

  .project-card__texts {
    display: flex;
    justify-content: space-between;
  }

  .project-card__title {
    text-decoration: none;
    color: var(--text-primary);
  }

  .project-card__small {
    color: var(--text-secondary);
  }

  .project-card__image {
    aspect-ratio: var(--ratio-widescreen);
    object-fit: cover;
    box-shadow: var(--shadow-2);
    border-radius: var(--card-radius);
  }
}
