@use "../components/prose";

.project-root {
  display: flex;
  gap: var(--size-6);
  flex-wrap: wrap;
  margin-block: var(--bleed);
  padding-inline: var(--bleed);

  .project__texts-wrapper {
    max-inline-size: var(--size-content-3);
  }

  .project__cover-wrapper {
    flex-basis: var(--size-content-1);
    flex-grow: 1;
    order: -1;
  }

  @media (orientation: landscape) {
    .project__cover-wrapper {
      order: 0;
    }
  }

  .project__cover {
    block-size: 100%;
    object-fit: cover;
  }

  .project__content-wrapper {
    flex-basis: var(--size-content-3);
  }

  .project__content {
    @include prose.prose;

    margin-block-start: var(--bleed);
    max-inline-size: var(--size-content-3);
  }

  .project__aside {
    font-size: var(--font-size-0);
    color: var(--text-secondary);
  }

  .project__meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2) var(--bleed);
  }

  .project__title {
    font-size: var(--font-size-5);
    margin-block-end: var(--size-2);
  }

  .project__badge {
    margin-block-start: var(--size-1);
    background-color: var(--ui-element-bg);
    padding-inline: var(--size-2);
    border-radius: var(--card-radius);
  }

  .project__list {
    display: flex;
    gap: var(--size-1);
    flex-wrap: wrap;
    list-style: none;
  }

  .project__list--press,
  .project__list--links {
    flex-direction: column;
    a {
      color: var(--text-secondary);
    }
  }

  .project__key {
    color: var(--text-primary);
    font-weight: var(--bold);
  }

  .project__key:not(:first-child) {
    margin-block-start: var(--size-2);
  }
}
