.about {
	max-inline-size: 60ch;
	margin-inline: auto;
	margin-block: var(--space-m);
}

/*
	.thumb {
		inline-size: var(--space-2xl);
		block-size: var(--space-2xl);
		overflow: hidden;
		border-radius: 50%;
	}
*/
