.app-page {
	h1 {
		font-size: var(--font-size-5);
		font-weight: var(--font-weight-7);
	}

	.subtitle {
		font-size: var(--font-size-3);
		color: var(--text2-color);
	}

	h2 {
		font-size: var(--font-size-2);
		font-weight: var(--font-weight-7);
	}

	.editorial > p:first-child {
		font-size: var(--font-size-3);
	}

	section {
		background-color: var(--slate3);
		padding: var(--size-5);
	}

	.editorial img {
		border-radius: var(--radius-2);
	}
}
