@mixin button--primary {
  white-space: nowrap;
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-2);
  border: var(--border);
  border-color: var(--apl-blue);
  background-color: var(--apl-blue);
  text-decoration: none;

  &,
  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--apl-blue-hover);
  }
}
