@use "sr-only.scss";

.content-app {
  h2,
  h3 {
    border-block-start: var(--border);
    padding-block-start: var(--size-3);
  }

  h3 {
    border-block-start: var(--border);
    padding-block-start: var(--size-3);
    font-size: var(--font-size-6);
    line-height: var(--font-lineheight-1);
  }

  img {
    max-inline-size: 60ch;
    margin-inline: auto;
  }
}
