@use "sr-only.scss";

.content-app {
  p:first-of-type {
    font-size: var(--font-size-4);
  }

  h2,
  h3 {
    border-block-start: var(--border);
    padding-block-start: var(--size-3);
  }

  h3 {
    border-block-start: var(--border);
    padding-block-start: var(--size-3);
    font-size: var(--font-size-6);
    line-height: var(--font-lineheight-0);
    text-align: center;
    margin-block-end: var(--size-3);
  }

  img {
    max-inline-size: 60ch;
    margin-inline: auto;
  }
}
