.cv {
	margin-block: var(--space-xl);

	h2 {
		font-weight: 700;
		margin-block-start: var(--space-l);
		margin-block-end: var(--space-xs);
	}

	dl > * + * {
		margin-block-start: var(--space-xs);
	}

	dl > div {
		display: flex;
		justify-content: space-between;
		gap: var(--space-m);
	}

	dt ~ *:last-child {
		margin-block-start: var(--space-3xs);
	}

	// date
	dl > div > dd {
		white-space: nowrap;
	}

	dl > div > div {
		flex-basis: 70%;
	}

	dl > div > div > dd {
		font-size: var(--step--1);
	}

	li > ul {
		margin-block-start: var(--space-3xs);
	}

	#skills + ul > * + * {
		margin-block-start: var(--space-xs);
	}

	#skills + ul > li > ul {
		margin-inline-start: var(--space-m);

		li {
			display: inline;
			font-size: var(--step--1);
		}

		li:not(:last-child)::after {
			content: ', ';
		}
	}
}
