@import url("open-props/style");
@import url("open-props/durations");

@import url(./reset.css);
@import url(./theme.css);

@import url(./util/sr-only.css);
@import url(./util/center.css);
@import url(./util/uppercased.css);
@import url(./util/cluster.css);
@import url(./util/grid.css);
@import url(./util/reel.css);
@import url(./util/stack.css);
@import url(./util/cardlike.css);
@import url(./util/prose.css);

@import url(./util/padded.css);

@import url(./components/button.css);

/* TEMPORARY -- REMOVE TO UTIL */
@view-transition {
  navigation: auto;
}

.constrained {
  max-width: var(--size-lg);
  margin-inline: auto;
}

.fallback-content {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--text-secondary);
}

:root,
html,
body {
  block-size: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: var(--font-lineheight-1);
}

:where(h1) {
  font-size: var(--font-size-6);
  max-inline-size: var(--size-header-1);
  line-height: var(--font-lineheight-1);
}

:where(h2) {
  font-size: var(--font-size-4);
  max-inline-size: var(--size-header-2);
}

:where(h3) {
  font-size: var(--font-size-4);
}

:where(h3, h4, h5, h6) {
  max-inline-size: var(--size-header-3);
}
