.home {
	.intro {
		font-size: var(--font-size-3);
	}

	.app-card {
		background-color: var(--bg-2nd-color);
		padding: var(--size-8);

		text-align: center;
		border-radius: var(--radius-3);

		display: flex;
		inline-size: 100%;
		flex-direction: column-reverse;
		margin-inline: auto;

		.title-container {
			display: grid;
			grid-template-areas: "main";
			justify-content: center;
			align-items: flex-start;

			> * {
				grid-area: main;
			}
		}

		.title-container small {
			justify-self: flex-end;
			translate: 125%;
			// display: flex;
			// align-items: center;
			// justify-content: center;
			// gap: var(--size-2);
			// position: absolute;
			// inset-inline-end: 0;
			// inset-block-start: 0;
		}

		.next-img-container {
			inline-size: clamp(128px, 33vw, 256px);
			aspect-ratio: 1;
			margin-inline: inherit;
			pointer-events: none;
		}

		.app-name {
			font-size: var(--font-size-4);
			font-weight: var(--font-weight-7);
		}
	}
}
