.mixed-bleed {
	display: grid;
	grid-template-columns: 1fr min(60ch, 100%) 1fr;
}

.mixed-bleed > * {
	grid-column: 2;
}

.mixed-bleed > :where(img, figure, iframe) {
	inline-size: 100%;
	grid-column: 1/-1;
}
