.projects {
	.project-card {
		border-radius: var(--radius-3);
		background-color: var(--slate3);
		display: flex;
		flex-direction: column-reverse;
		overflow: hidden; // the next image overflows the border radius

		.text {
			flex-grow: 1;
			padding: var(--size-3);
		}

		p {
			color: var(--text2-color);
		}
	}

	.next-img-container {
		aspect-ratio: 16/9;
		pointer-events: none;

		opacity: 0.8;
		background-image: linear-gradient(var(--blue6) 1px, transparent 1px),
			linear-gradient(to right, var(--blue6) 1px, var(--blue2) 1px);
		background-size: 20px 20px;

		background-repeat: repeat;

		@media (prefers-color-scheme: dark) {
			img {
				// filter: invert(0.2);
			}
		}
	}
}
