.project-page {
	.next-img-container {
		aspect-ratio: 16/9;
		max-block-size: 25vh;
	}

	h1 {
		font-size: var(--font-size-5);
	}

	aside {
		font-size: var(--font-size-0);
	}

	.subtitle {
		color: var(--text2-color);
	}

	.cluster {
		margin-block-start: var(--size-1);
	}

	dt {
		margin-block-start: var(--size-2);
		font-weight: var(--font-weight-7);
	}

	iframe {
		inline-size: 100%;
		aspect-ratio: 16/9;
	}
}
