:root {
  scrollbar-gutter: stable;
}

:where(*, *::before, *::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:where(*) {
  overflow-wrap: break-word;
}

:where(strong, b) {
  font-weight: bold;
}

:where(body) {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p) {
  text-wrap: pretty;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(code) {
  font-family: monospace;
}

/* https://x.com/JohnPhamous/status/1909293861547262141 */
:where(button) {
  touch-action: manipulation;
}