@import "open-props/animations.min.css";
@import "open-props/aspects.min.css";
@import "open-props/borders.min.css";
// @import "open-props/durations.min.css";
@import "open-props/easings.min.css";
@import "open-props/fonts.min.css";
@import "open-props/gradients.min.css";
@import "open-props/masks.edges.min.css";
@import "open-props/masks.corner-cuts.min.css";
@import "open-props/media.min.css";
@import "open-props/shadows.min.css";
@import "open-props/sizes.min.css";
@import "open-props/supports.min.css";
@import "open-props/zindex.min.css";

:root {
  --bleed: var(--size-4);
  --bold: var(--font-weight-7);
  --border: var(--border-color) solid var(--border-size-1);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter Variable",
    var(--font-sans);
  color: var(--text-primary);
  background-color: var(--app-bg);

  line-height: var(--font-lineheight-3);
}

.uppercased {
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-3);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  text-decoration: underline;
}

.card a {
  color: var(--text-primary);
}

.card a:visited {
  color: var(--text-primary);
}

.card a:hover {
  text-decoration: none;
}

.header,
.footer {
  color: var(--text-secondary);
  font-size: var(--font-size-0);
}

body > header {
  border-block-end: var(--border);
  padding-block: var(--size-3);
}

body > footer {
  padding-block: var(--size-3);
  border-block-start: var(--border);
}

kbd {
  border: var(--border);
  padding: var(--size-1);
  border-radius: var(--radius-2);
  background-color: var(--ui-element-bg);
}

.astro-code {
  padding: var(--size-2);
}

//

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--font-lineheight-1);
  text-wrap: pretty;
}

.p {
  max-inline-size: 60ch;
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-1);
}

h1 {
  font-size: var(--font-size-8);
  max-inline-size: var(--size-header-1);
}

h2 {
  font-size: var(--font-size-6);
  max-inline-size: var(--size-header-2);
}

h3 {
  font-size: var(--font-size-5);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-3);
}

h3,
h4,
h5,
h6,
dt {
  max-inline-size: var(--size-header-3);
}
