@import "open-props/style";

// colors

:root {
  // static
  --apl-blue: #0071e3;
  --apl-blue-hover: #147ce5;

  // dynamic
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;
  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-10: #0588f0;
  --blue-11: #0d74ce;
  --blue-12: #113264;
  --plum-1: #fefcff;
  --plum-2: #fdf7fd;
  --plum-3: #fbebfb;
  --plum-4: #f7def8;
  --plum-5: #f2d1f3;
  --plum-6: #e9c2ec;
  --plum-7: #deade3;
  --plum-8: #cf91d8;
  --plum-9: #ab4aba;
  --plum-10: #a144af;
  --plum-11: #953ea3;
  --plum-12: #53195d;
  --yellow-1: #fdfdf9;
  --yellow-2: #fefce9;
  --yellow-3: #fffab8;
  --yellow-4: #fff394;
  --yellow-5: #ffe770;
  --yellow-6: #f3d768;
  --yellow-7: #e4c767;
  --yellow-8: #d5ae39;
  --yellow-9: #ffe629;
  --yellow-10: #ffdc00;
  --yellow-11: #9e6c00;
  --yellow-12: #473b1f;

  --app-bg: var(--gray-1);
  --ui-element-bg: var(--gray-3);
  --text-primary: var(--gray-12);
  --text-secondary: var(--gray-11);
  --link-visited: var(--plum-11);
  --border-color: var(--gray-6);
  --outline-color: var(--blue-7);
  --link: var(--blue-12);
  --rating: var(--yellow-11);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-1: #111111;
    --gray-2: #191919;
    --gray-3: #222222;
    --gray-4: #2a2a2a;
    --gray-5: #313131;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eeeeee;
    --blue-1: #0d1520;
    --blue-2: #111927;
    --blue-3: #0d2847;
    --blue-4: #003362;
    --blue-5: #004074;
    --blue-6: #104d87;
    --blue-7: #205d9e;
    --blue-8: #2870bd;
    --blue-9: #0090ff;
    --blue-10: #3b9eff;
    --blue-11: #70b8ff;
    --blue-12: #c2e6ff;
    --yellow-1: #14120b;
    --yellow-2: #1b180f;
    --yellow-3: #2d2305;
    --yellow-4: #362b00;
    --yellow-5: #433500;
    --yellow-6: #524202;
    --yellow-7: #665417;
    --yellow-8: #836a21;
    --yellow-9: #ffe629;
    --yellow-10: #ffff57;
    --yellow-11: #f5e147;
    --yellow-12: #f6eeb4;
    --plum-1: #181118;
    --plum-2: #201320;
    --plum-3: #351a35;
    --plum-4: #451d47;
    --plum-5: #512454;
    --plum-6: #5e3061;
    --plum-7: #734079;
    --plum-8: #92549c;
    --plum-9: #ab4aba;
    --plum-10: #b658c4;
    --plum-11: #e796f3;
    --plum-12: #f4d4f4;

    --app-bg: var(--gray-1);
    --ui-element-bg: var(--gray-3);
    --text-primary: var(--gray-12);
    --text-secondary: var(--gray-11);
    --link-visited: var(--plum-11);
    --border-color: var(--gray-6);
    --outline-color: var(--blue-7);
    --link: var(--blue-12);
  }
}

// UI

:root {
  --bleed: var(--size-3);
  --bold: var(--font-weight-7);
  --border: var(--border-color) solid var(--border-size-1);
  --card-radius: var(--radius-3);
  --card-shadow: var(--shadow-2);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter Variable",
    var(--font-sans);

  color: var(--text-primary);
  background-color: var(--app-bg);

  line-height: var(--font-lineheight-3);
}

* {
  word-break: break-word;
}

:root,
html,
body {
  block-size: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.uppercased {
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-3);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  text-decoration: underline;
}

.card a {
  color: var(--text-primary);
}

.card a:visited {
  color: var(--text-primary);
}

.card a:hover {
  text-decoration: none;
}

.header,
.footer {
  color: var(--text-secondary);
  font-size: var(--font-size-0);
}

body > header {
  border-block-end: var(--border);
  padding-block: var(--size-3);
}

body > footer {
  padding-block: var(--size-3);
  border-block-start: var(--border);
}

kbd {
  border: var(--border);
  padding: var(--size-1);
  border-radius: var(--radius-2);
  background: var(--ui-element-bg);
  font-size: var(--font-size-0);
}

.astro-code {
  padding: var(--size-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--font-lineheight-1);
}

.body {
  max-inline-size: var(--content-size-3);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-1);
}

.h1 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-6);
  max-inline-size: var(--size-header-1);
  text-wrap: pretty;
}

h1 {
  @extend .h1;
}

h2 {
  font-size: var(--font-size-4);
  max-inline-size: var(--size-header-2);
}

h3 {
  font-size: var(--font-size-4);
}

h3,
h4,
h5,
h6,
dt {
  max-inline-size: var(--size-header-3);
}
