:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter Variable",
    var(--font-sans);
  color: var(--text-1);
  background-color: var(--surface-1);

  // text-wrap: balance;

  --bleed: var(--size-4);
  --border: var(--surface-4) solid var(--border-size-1);
  --bold: var(--font-weight-7);
  --text-1: var(--gray-8);
  --text-2: var(--gray-7);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-1);
  --surface-3: var(--gray-2);
  --surface-4: var(--gray-3);

  --apl-link: #06c;
  --apl-link-dark: #6bf;
  --apl-blue: #0071e3;
  --apl-blue-hover: #147ce5;

  --link: var(--apl-link);
  --link-visited: var(--purple-7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-1: var(--gray-3);
    --text-2: var(--gray-5);

    --surface-1: var(--gray-12);
    --surface-2: var(--gray-11);
    --surface-3: var(--gray-10);
    --surface-4: var(--gray-9);

    --link: var(--apl-link-dark);
    --link-visited: var(--purple-3);
  }
}

.uppercased {
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-3);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  text-decoration: underline;
}

.card a {
  color: var(--text-1);
}

.card a:visited {
  color: var(--text-1);
}

.card a:hover {
  text-decoration: none;
}

/* header a,
header a:visited, */
.header,
.footer {
  color: var(--text-2);
  font-size: var(--font-size-0);
}

body > header {
  border-block-end: var(--border);
  padding-block: var(--size-3);
}

body > footer {
  padding-block: var(--size-3);
  border-block-start: var(--border);
}
