// https://github.com/argyleink/open-props/blob/main/src/extra/normalize.src.css

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--font-lineheight-1);
}

.body {
  max-inline-size: var(--content-size-3);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-1);
}

.h1 {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-6);
  max-inline-size: var(--size-header-1);
  text-wrap: pretty;
}

h1 {
  @extend .h1;
}

h2 {
  font-size: var(--font-size-4);
  max-inline-size: var(--size-header-2);
}

h3 {
  font-size: var(--font-size-4);
}

h3,
h4,
h5,
h6,
dt {
  max-inline-size: var(--size-header-3);
}
