.site-header {
  padding-inline: var(--bleed);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--bleed);
}

.site-header__subtitle {
  color: var(--text-secondary);
}

.site-header__leading {
  display: flex;
  gap: var(--size-2);
  margin-inline-end: auto;
}

.site-header__avatar {
  align-self: center;
  inline-size: var(--size-7);
  block-size: auto;
  object-fit: contain;
  background: var(--gradient-22);
  border-radius: var(--radius-round);
}

.site-header__name,
.site-header__name:visited {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: var(--bold);
}

.site-header__name,
.site-header_subtitle {
  display: block;
}

.site-nav__list {
  list-style: none;
}

.site-nav__link,
.site-nav__link:visited {
  color: var(--text-primary);
  text-decoration: none;
}
