---
import { Image } from "astro:assets";
import Root from "../layouts/Root.astro";
import memoji404 from "~/assets/404.png";
---

<Root title="Error: 404">
    <div class="root">
        <div class="center intrinsic and-text">
            <Image src={memoji404} alt="A pondering memoji of Roey Biran" />
            <div class="vstack">
                <p>Error 404: Not Found</p>
                <a class="btn-primary" href="/">Go Back Home</a>
            </div>
        </div>
    </div>
</Root>

<style>
    .root {
        padding: var(--bleed);
    }
    p {
        font-size: var(--font-size-4);
    }

    img {
        max-inline-size: var(--size-13);
    }
</style>
