---
import SiteLayout from "../layouts/Layout.astro";
import Image404 from "../assets/404.png";
import { Image } from "astro:assets";
---

<SiteLayout
  pageDescription="Page not found."
  currentURL={Astro.request.url}
>
  <div class="page-404 | padded constrained">
    <h1 class="sr-only">404: Page not found</h1>
    <p class="page-404__title | theme-red bordered">404: Page not found</p>
    <Image class="page-404__image" src={Image404} alt="404" />
  </div>
</SiteLayout>

<style>
  .page-404 {
    display: grid;
    place-content: center;
    gap: var(--size-2);
    block-size: 100%;
    padding: var(--bleed);
    text-align: center;
  }

  .page-404__title {
    font-family: var(--font-monospace-code);
    text-transform: uppercase;
  }

  .page-404__image {
    margin-inline: auto;
    max-inline-size: var(--size-13);
    filter: grayscale(100%);
  }
</style>
