---
import Layout from "../layouts/Layout.astro";
import Image404 from "../assets/404.png";
import { Image } from "astro:assets";
---

<Layout
  pageTitle="404"
  pageDescription="Page not found."
  ogImage={""}
  currentURL={Astro.url.toString()}
>
  <div class="page-404 | padded constrained">
    <h1 class="sr-only">404: Page not found</h1>
    <p class="page-404__title | theme-red bordered">404: Page not found</p>
    <Image class="page-404__image" src={Image404} alt="404" />
  </div>
</Layout>
