---
import { getCollection } from "astro:content";
import Page from "@layouts/Page.astro";
import AppCard from "@components/AppCard.astro";
import type { Props } from "@components/AppCard.astro";
import "@styles/pages/apps.scss";
import "@styles/components/_app-grid.scss";
import getSortedApps from "@util/getSortedApps";

const apps = await getSortedApps();

const githubApps = (await getCollection("openSourceApps"))
  .map(({ data, slug }) => ({
    title: data.title,
    icon: data.icon,
    subtitle: data.tagline,
    iconAlt: data.title,
    slug: data.repoURL,
  }));
---

<Page pageTitle="Apps">
  <div class="apps-page">
    <ul class="app-grid">
      {
        apps.map((card) => (
          <li class="cards__list-item">
            <AppCard {...card} />
          </li>
        ))
      }
      {
        githubApps.map((card) => (
          <li class="cards__list-item cards__list-item--small">
            <AppCard small {...card} />
          </li>
        ))
      }
    </ul>
  </div>
</Page>
