---
import { getCollection } from "astro:content";
import Page from "../layouts/Page.astro";
import AppCard from "../components/AppCard.astro";
import "../styles/pages/apps.scss";
import genericAppIcon from "../assets/generic-app-icon.png";

const posts = await getCollection("apps");
---

<Page pageTitle="Apps">
  <div class="apps-page">
    <ul class="cards">
      {
        posts
          .filter(({ data }) => !data.isMisc)
          .map(({ data, slug }) => (
            <li class="cards__list-item">
              <AppCard slug={`./apps/${slug}`} {...data} />
            </li>
          ))
      }
      <li class="cards__list-item">
        <AppCard
          title="Untitled macOS App"
          subtitle="Coming Winter 2024"
          icon={genericAppIcon}
          iconAlt=""
        />
      </li>
      {
        posts
          .filter(({ data }) => data.isMisc)
          .map(({ data: { sourceCode, ...data }, slug }) => (
            <li class="cards__list-item cards__list-item--small">
              <AppCard slug={sourceCode ?? `./apps/${slug}`} small {...data} />
            </li>
          ))
      }
    </ul>
    <!-- <h2 class="sr-only apps-page__header">Miscellaneous</h2>
    <ul class="cards">
      {
        posts
          .filter(({ data }) => data.isMisc)
          .map(({ data: { sourceCode, ...data }, slug }) => (
            <li class="cards__list-item cards__list-item--small">
              <AppCard slug={sourceCode ?? `./apps/${slug}`} small {...data} />
            </li>
          ))
      }
    </ul> -->
  </div>
</Page>
