---
import { getEntry } from "astro:content";
import AppCard from "@components/AppCard.astro";
import Root from "@layouts/Root.astro";
import "@styles/pages/index.scss";
import finbarIcon from '@content/apps/finbar/assets/icon.png';

const {
  slug,
  data: { title, tagline },
} = await getEntry("apps", "finbar");
---

<Root pageTitle="Home">
  <div class="page-home">
    <h1 class="sr-only">Roey Biran</h1>
    <p class="page-home__intro">
      I’m a designer and front–end developer. I enjoy crafting quality <a
        href="/apps">macOS applications</a
      > on the side. I’m also passionate about industrial design, typography,
      architecture, and art. My latest macOS application, <b>Finbar</b>, is now available:
    </p>
    <AppCard {title} slug={`/apps/${slug}`} subtitle={tagline} icon={finbarIcon} iconAlt="Finbar’s app icon" />
  </div>
</Root>
