---
import AppCard from "@components/AppCard.astro";
import Root from "@layouts/Root.astro";
import "@styles/pages/index.scss";
import getSortedApps from "@util/getSortedApps";
import "@styles/components/_app-grid.scss";

const apps = await getSortedApps();
---

<Root pageTitle="Home">
  <div class="page-home">
    <h1 class="sr-only">Roey Biran</h1>
    <p class="page-home__intro">
      I’m a designer and front–end developer. I enjoy crafting quality <a
        href="/apps">macOS applications</a
      > on the side. I’m also passionate about industrial design, typography, architecture,
      and art. Since you’re already here, <strong
        >you might want to check out my apps:</strong
      >
    </p>
    <ul class="app-grid">
      {
        apps.map((card) => (
          <li>
            <AppCard {...card} />
          </li>
        ))
      }
    </ul>
  </div>
</Root>
