---
interface Props {
  downloadURL: string;
  purchase?: {
    price: string;
    url: string;
  };
}

const { purchase, downloadURL } = Astro.props;
---

<div class="download-bar">
  <a class="buy-button" href={downloadURL}
    >{purchase ? "Try for Free" : "Download"}</a
  >
  {
    purchase && (
      <a class="buy-button" href={purchase.url}>
        <span>Buy</span>
        <small class="buy-button__price">{purchase.price}</small>
      </a>
    )
  }
</div>
