---
---

<footer class="footer">
  <small class="footer__copyright"
    >Roey Biran © {new Date().getFullYear()}</small
  >
  <ul class="footer__links">
    <li class="footer__link">
      <a href="https://twitter.com/roeybiran">Twitter</a>
    </li>
    <li class="footer__link">
      <a href="https://github.com/roeybiran">GitHub</a>
    </li>
    <li class="footer__link">
      <a href="https://www.linkedin.com/in/roeybiran/">LinkedIn</a>
    </li>
  </ul>
  <small class="footer__source-code-link">
    This website is <a href="https://github.com/roeybiran/personal-website"
      >open source</a
    >.
  </small>
</footer>
