---
---

<footer class="">
	<div class="center intrinsic and-text">
		<ul class="cluster" style="--space:var(--size-2)">
			<li><a href="https://twitter.com/roeybiran">Twitter</a></li>
			<li><a href="https://github.com/roeybiran">GitHub</a></li>
		</ul>
		<small>Roey Biran © {new Date().getFullYear()}</small>
		<small>
			This website is <a href="https://github.com/roeybiran/personal-website"
				>open source</a
			>.
		</small>
	</div>
</footer>

<style>
	ul {
		padding-inline-start: unset;
		list-style: none;
		margin-block: 0;
	}
</style>
