---
import memoji from "@assets/memoji.png";
import { Image } from "astro:assets";
---

<header class="header">
	<div class="header__leading">
		<Image src={memoji} class="header__avatar" alt="" />
		<div class="header__text">
			<a class="header__name" href="/">Roey Biran</a>
			<small class="header__subtitle">Designer + Developer</small>
		</div>
	</div>
	<nav class="nav">
		<ul class="nav__list">
			<li><a class="nav__link" href="/">Home</a></li>
			<li><a class="nav__link" href="/apps">Apps</a></li>
			<li><a class="nav__link" href="/projects">Projects</a></li>
		</ul>
	</nav>
</header>
