/* CARD */
.card {
	position: relative;
}

.card a {
	text-decoration: none;
	color: inherit;
}

.card a::after {
	content: "";
	position: absolute;
	inset: 0;
}

.card-ui {
	background-color: var(--slate2);
	border: 1px solid var(--slate6);
	border-radius: var(--radius-3);

	display: flex;
	flex-direction: column-reverse;

	transition: transform 0.6s ease 0s, box-shadow 0.3s ease 0s;
	box-shadow: var(--shadow-2);

	.image-container {
		pointer-events: none;
	}
}

.card-ui:hover,
.card-ui:focus-within {
	/* transform: translateY(-10px); */
	box-shadow: 0 0 0 3px var(--blue7);
}

.card-ui a:focus {
	text-decoration: none;
	outline: none;
}
