@use "uppercased" as uc;

@mixin chip($color) {
	@include uc.uppercased();
	display: inline;

	color: var(--#{$color}11);
	background-color: var(--#{$color}3);
	border: 1px solid var(--#{$color}7);

	font-size: var(--font-size-0);
	text-align: center;
	border-radius: var(--radius-2);
	padding: var(--size-1);

	inline-size: max-content;
}

.chip {
	@include chip(slate);
}

.chip.orange {
	@include chip(green);
	font-size: var(--font-size-00);
}
