h1 {
	font-size: var(--font-size-5);
	font-weight: var(--font-weight-7);
}

.subtitle {
	font-size: var(--font-size-3);
	color: var(--text2-color);
}

h2 {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-7);
}

.prose {
	> p:first-child {
		font-size: var(--font-size-3);
	}
}

section {
	padding-block: var(--size-5);
}

section + section {
	border-block-start: 1px dashed var(--slate7);
}

.app-icon {
	max-inline-size: 256px;
}

.primary-feature {
	max-inline-size: 60ch;

	img {
		border-radius: var(--radius-2);
	}
}

h3 {
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-7);
}

.price {
	font-size: var(--font-size-3);
}

.secondary-features {
	list-style: disc;
	padding-inline-start: var(--size-5);
}

.technical-info {
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
	align-items: center;
	flex-wrap: wrap;
	text-align: start;

	color: var(--text2-color);
	max-inline-size: 45ch;
}
