.home {
	h2 {
	}

	.editorial {
		font-size: var(--font-size-2);

		h2:first-of-type {
			margin-block-start: 0;
			font-size: var(--font-size-7);
			text-align: center;

			background: var(--gradient-2);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.memoji-container {
		max-inline-size: var(--size-13);
	}
}
