@use "site-header";
@use "site-footer";

@use "colors";
@use "prose";
@use "card";
@use "chip";
@use "button";
@use "uppercased";

@use "_layout/cluster";
@use "_layout/grid";
@use "_layout/center";
@use "_layout/stack";
@use "_layout/sidebar";
@use "_layout/icon";

:root {
	max-inline-size: 1024px;
	margin-inline: auto;
	padding-inline: var(--size-5);
	font-family: "IBM Plex Sans", sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

body {
	min-block-size: 100vh;
	display: flex;
	flex-direction: column;
}

* {
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
	line-height: calc(2px + 2ex + 2px);
}

p {
	line-height: 1.5;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
}

ul,
ol {
	list-style: none;
}

cite {
	font-size: unset;
}

main {
	flex-grow: 1;
	padding-block: var(--size-3);
	display: flex;
	flex-direction: column;
}

.image-container {
	position: relative;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.not-found {
	display: grid;
	place-content: center;
	block-size: 100vh;

	.card-ui {
		text-align: center;
		padding: var(--size-6);
	}

	.memoji-404 {
		inline-size: var(--size-13);
	}
}
