.layout-app {
  display: flex;
  gap: var(--bleed);
  flex-direction: column;
  align-items: center;
  padding: var(--bleed);
}

.app-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-2) var(--bleed);

  inset-block-start: 0;
  z-index: var(--layer-important);
  position: sticky;

  border-block-end: var(--border);
  background: var(--app-bg);
}

.app-nav > span {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  gap: var(--bleed);
}

.app-nav__icon {
  max-inline-size: var(--size-7);
}

.app-nav-link[aria-current="page"] {
  font-weight: var(--bold);
}

.app-nav-link {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.app-nav-link,
.app-nav-link:visited {
  font-size: var(--font-size-0);
  color: var(--text-primary);
  text-decoration: none;
}

.buy-button {
  font-size: var(--font-size-0);
  white-space: nowrap;
  padding: var(--size-1) var(--size-2);
  border: var(--border);
  border-radius: var(--radius-round);
  border-color: var(--apl-blue);
  background: var(--apl-blue);
  text-decoration: none;

  &,
  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--apl-blue-hover);
  }
}

.buy-button__price {
  color: var(--apl-blue);
  background-color: white;
  padding-inline: var(--size-1);
  border-radius: var(--radius-round);
}
