---
import Root, { type Props as RootProps } from "./Root.astro";
import "../styles/layouts/_page.scss";

interface Props extends RootProps {}
---

<Root {...Astro.props}>
  {
    Astro.props.title && (
      <div class="page__title">
        <h1 class="body">{Astro.props.title}</h1>
      </div>
    )
  }
  <slot />
</Root>
