---
import Root, { type Props as RootProps } from "./Root.astro";
import "../styles/layouts/_page.scss";

interface Props extends RootProps {}
---

<Root {...Astro.props}>
  <h1 class="page__title p">{Astro.props.pageTitle}</h1>
  <slot />
</Root>
