---
import Root, { type Props as RootProps } from "./Root.astro";
import "../styles/layouts/_page.scss";

interface Props extends RootProps {}
---

<Root {...Astro.props}>
  <div class="page__title">
    <h1 class="p">{Astro.props.pageTitle}</h1>
  </div>
  <slot />
</Root>
