.cardlike {
  position: relative;

  > a {
    text-decoration: none;
    color: inherit;
  }

  > a:visited {
    color: inherit;
  }

  > a::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.cardlike a {
  color: var(--text-primary);
}

.cardlike a:visited {
  color: var(--text-primary);
}

.cardlike a:hover {
  text-decoration: none;
}

.cardlike--styled {
  box-shadow: var(--shadow-1);
  outline: 1px solid transparent;
  outline-offset: 8px;
  transition: outline-color 0.3s ease 0s, outline-offset 0.3s ease 0s;
}

.cardlike--styled:focus-within {
  outline-color: var(--outline-color);
  outline-offset: 0;
}

.cardlike--styled a:focus {
  text-decoration: none;
  outline: none;
}
